[Unit]
Description=frpc cvm service
After=network.target
Wants=network.target

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/root/apps/vps-frpc/frpc -c /root/apps/vps-frpc/frpc.ini

[Install]
WantedBy=multi-user.target
