# ide config
.idea
.fleet
.vscode

# npm install
**/*node_modules


# macos cache
**/*.DS_Store

# vuepress cache
blog/.vuepress/.temp
blog/.vuepress/.cache
blog/.vuepress/dist
blog/posts/codes/*

# lib(groovy)
lib/

# backup
bk/vuepress-theme-gungnir@2.0.0-alpha.26-patch