.fleet
.idea
.vscode
.env
frpc/algolia/.env
frpc/space-on-premises/config
frpc/jenkins/data
frpc/uptime-kuma/data
frpc/umami/db-data
frpc/umami/sql
frpc/mysql/*
!frpc/mysql/docker-compose.yml

vps-home.iml

env.yml

**/*.DS_Store
**/*.local.ini
**/*.local.env

ansible/roles/frpc/**/*.ini
ansible/roles/frps/**/*.ini
ansible/roles/vps/files/frps/**/*.ini
ansible/roles/vps/files/frpc/**/*.ini