[submodule "frpc/docker-flarum"]
	path = frpc/docker-flarum
	url = git@gitlab.com:alomerry/docker-flarum.git
	branch = develop
[submodule "frpc/dst-admin"]
	path = frpc/dst-admin
	url = git@gitlab.com:alomerry/dst-admin.git
    branch = develop
[submodule "frpc/vscode-web"]
	path = frpc/vscode-web
	url = git@gitlab.com:alomerry/vscode-web.git
	branch = master
[submodule "frpc/waline"]
	path = frpc/waline
	url = git@gitlab.com:alomerry/waline.git
	branch = develop
