.fleet
.idea
.env
frps/frps.ini
frpc/algolia/.env
frpc/space-on-premises/config
frpc/jenkins/data
frpc/uptime-kuma/data
frpc/umami/db-data
frpc/umami/sql
frpc/mysql/*
!frpc/mysql/docker-compose.yml
vps-home.iml
**/*.DS_Store
**/*.local.ini
**/*.local.env
