[Unit]
Description=Frp Server Service
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStart=/root/apps/frp_0.51.1_linux_amd64/frps -c /root/apps/frp_0.51.1_linux_amd64/frps.ini

[Install]
WantedBy=multi-user.target