[Unit]
Description=frpc k8s vps service
After=network.target
Wants=network.target

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/root/apps/frpc/frpc -c /root/apps/frpc/vps/vps.ini

[Install]
WantedBy=multi-user.target
