// place your custom styles here
// @use '@sass-palette/hope-config';


// split-font-css-start

@import "/assets/fonts/lxgw-wenkai-gb-regular/result.css";

// split-font-css-end

// 缩小文章内列表行间距
div.theme-hope-content ul.task-list-container p,
div.theme-hope-content ul.task-list-container ul,
div.theme-hope-content ul.task-list-container ol {
  line-height: 1.6;
}

// bavbar
nav.nav-links>div.nav-item>a.nav-link {
  margin-right: 5px
}

// fix sider group font, remove at next vuepress-theme-hoper version
ul.sidebar-links > li > section.sidebar-group > button.sidebar-heading > span.title{
  font-family: "LXGW WenKai GB";
}

@import './project-pannel.scss';