// place your custom styles here
// @use '@sass-palette/hope-config';


// split-font-css-start

@import "/assets/fonts/lxgw-wenkai-gb-regular/result.css";

// split-font-css-end

// 缩小文章内列表行间距
div.theme-hope-content ul.task-list-container p,
div.theme-hope-content ul.task-list-container ul,
div.theme-hope-content ul.task-list-container ol {
  line-height: 1.6;
}

// bavbar
nav.nav-links>div.nav-item>a.nav-link {
  margin-right: 5px
}

// div.links {
//   .site-info {
//     width: calc(33% - 24px);

//     @media (max-width: hope-config.$pad) {
//       width: calc(50% - 24px);

//       .site-info-name {
//         font-size: 14px;
//       }
//     }
//   }
// }

// site
div.project-panel .language-yaml {
  display: none;
}