[Unit]
Description=frpc proxmox service
After=network.target
Wants=network.target

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/root/apps/frpc/frpc -c /root/apps/frpc/proxmox/proxmox.ini

[Install]
WantedBy=multi-user.target
