node_modules
dist
*.local
.presite
dist-ssr
.vite-ssg-temp
components.d.ts
auto-imports.d.ts
temp
sponsors.*
drafts
public/assets
*.log

pages/assets/**/*.jpeg
pages/assets/**/*.jpg
pages/assets/**/*.png
