.main div.vp-doc h1 > a {
  text-decoration:none;
}

.main div.vp-doc h2 > a {
  text-decoration:none;
}
.main div.vp-doc h3 > a {
  text-decoration:none;
}

:root {
  --vp-font-family-base: 'LXGW WenKai GB', 'DM Mono', 'Input Mono', 'Fira Code', monospace;
  /* --vp-font-family-mono: code font */
}
