.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.prose .wl-login-info a,
.prose .wl-footer a {
  border-bottom: unset;
}

.prose .wl-footer a[title*='Markdown Guide'] {
  width: 16px !important;
}
.prose .wl-avatar img,
.prose .wl-footer img,
.prose .wl-reaction img {
  margin-top: unset;
  margin-bottom: unset;
}

.prose .wl-reaction ul > li {
  position: unset;
  padding-left: unset;
}

.prose .wl-reaction ul {
  margin-top: unset;
  margin-bottom: unset;
  list-style-type: unset;
}

.wl-reaction {
  margin-bottom: unset !important;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.25s ease-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(30px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.prose pre.shiki {
  font-size: 0.800em;
  font-family: Monaco, ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", "Courier New", monospace;;
}


.el-dialog .el-dialog__body {
  height: 100%;
}

.el-dialog:not(is-fullscreen) {
  @media (max-width: 419px) {
    width: 100%
  }
  height: 70%
}

.dark .el-popover {
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

html:not(.dark) .el-popover {
  padding:10px;
  /*background-color: #fafafa;*/
  /*border: 1px solid #fafafa;*/
  border-radius: 7px;
}

.el-popover {
  width: unset!important;
}

.el-popover pre.shiki {
  margin-top: -20px;
  padding: 10px;
  border-radius: 7px;
  font-size: 0.8rem;
}

.prose ul > li.el-timeline-item {
  padding-left: unset;
  padding-bottom: unset;
}

.el-timeline-item:before{
  content: unset!important;
}

.el-timeline-item__wrapper {
  top: -7px;
  display: inline-flex;
  .el-timeline-item__timestamp.is-bottom{
    margin-top: 6px;
    margin-left: 10px
  }
}

ul.el-timeline{
  margin-top: 1.25rem;
}

.prose hr {
  width: unset;
  border: none;
  border-top: 1px solid var(--vp-c-divider);
}

.dark .el-timeline-item__content {
  color: unset;
}

.prose pre {
}
