[Unit]
Description=frpc free cn service
After=network.target
Wants=network.target

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/root/apps/free-frpc/frpc -c /root/apps/free-frpc/cn/cn.ini

[Install]
WantedBy=multi-user.target
