.nav-search-modal {
  max-width: 50em;
  border-radius:7px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .15);
  width: calc(100% - 6rem);
}

.nav-search .nav-search-result-item {
  margin-bottom: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);;
}

.nav-search-input input{
  height: 40px;
}


.nav-search-result-item .el-card__body {
  padding: 10px;
}

.nav-search-result-item .el-card__body h1 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.nav-search-result-item .el-card__body h1>svg {
  display: unset;
}

.nav-search-result-item.el-card:hover {
  border-bottom-color: rgba(68, 67, 67, 0.16);
  --el-card-bg-color: rgba(68, 67, 67, 0.16);
}

.nav-search-result-item .el-card__body em {
  background-color: yellow;
  font-style: normal;
  font-weight: bolder;
}
